.mgt-park {
    width: 40%;
    padding: 5px;
    float: left;
}
.mgt-filter {
    width: 55%;
    padding: 5px;
    float: left;
    margin: 5px;
}
.mgt-filter-field {
    width: 100px;
}
.mgt-stat {
    font-size: 0.8em;
    font-style: italic;
}